@charset "UTF-8";

body{
  font-family: "Mplus 1p"; 
  background-color: #66cdaa;
}

h1{
  text-align: center;
}

section{
  text-align: center;
}

.btn{
  -webkit-appearance:none;
  -webkit-border-radius:0;
  border:none;
  background-color:#800000;
}

.btn:hover{
  opacity:0.8;
}

.btn:active{
  color:white;
}
